@media screen and (max-width: 960px) {
    .only-desktop {
        display: none;
    }

    .only-tablet {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .container {
        width: auto;
        margin: 0 16px;
    }

    .container .container {
        margin: 0;
    }

    .header-block {
        position: relative;
        z-index: 5;

        .header {
            .inner {
                .item {
                    font-size: 12px;

                    .i {
                        display: none;
                    }

                    &.phone {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1.1;
                    }
                }
            }
        }

        .center {
            padding: 8px 0;

            .logo {
                .img {
                    img {
                        width: 54px;
                        height: auto;
                    }
                }

                .name {
                    font-size: 16px;
                }

                .slogan {
                    font-size: 13px;
                }
            }

            .search-and-contacts {
                display: none;
            }
        }

        .footer {
            display: none;
        }

        .menu-link {
            display: block;
            width: 22px;

            span {
                display: block;
                height: 2px;
                border-radius: 1px;
                background: #111;
                margin-bottom: 4px;

                -moz-transition: all .3s ease;
                -o-transition: all .3s ease;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.menu-open {
            .menu-link {
                span {
                    &:nth-child(1) {
                        -webkit-transform: rotate(45deg) translate(3px, 4px);
                        transform: rotate(45deg) translate(3px, 4px);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg) translate(1px, -1px);
                        transform: rotate(-45deg) translate(1px, -1px);
                    }
                }
            }
        }

        .mobile-dropdown {
            background: #fff;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 10;

            box-shadow: 0 6px 12px -8px #868282;

            .search {
                padding: 8px 0;
                background: #efefef;
            }

            .menu {
                ul {
                    li {
                        border-bottom: 1px solid #efefef;
                        font-size: 16px;
                        font-weight: 600;

                        a {
                            color: #111111;
                            display: block;
                            line-height: 1.2;
                            padding: 13px 16px;
                        }

                        &.has-dropdown {
                            ul {
                                background: #f1f1f1;

                                li {
                                    border-color: #ddd;

                                    &:last-child {
                                        border: none;
                                    }

                                    a {
                                        padding-left: 34px;
                                    }
                                }
                            }

                            &:not(.open) ul {
                                display: none;
                            }

                            & > a {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                &:after {
                                    content: '';
                                    display: block;

                                    width: 10px;
                                    height: 10px;
                                    margin: 0 0 0 6px;
                                    transform: rotate(180deg);

                                    background-position: center;
                                    background-size: 100% 100%;
                                    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492.002 492.002' style='enable-background:new 0 0 492.002 492.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M484.136,328.473L264.988,109.329c-5.064-5.064-11.816-7.844-19.172-7.844c-7.208,0-13.964,2.78-19.02,7.844 L7.852,328.265C2.788,333.333,0,340.089,0,347.297c0,7.208,2.784,13.968,7.852,19.032l16.124,16.124 c5.064,5.064,11.824,7.86,19.032,7.86s13.964-2.796,19.032-7.86l183.852-183.852l184.056,184.064 c5.064,5.06,11.82,7.852,19.032,7.852c7.208,0,13.96-2.792,19.028-7.852l16.128-16.132 C494.624,356.041,494.624,338.965,484.136,328.473z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
                                }
                            }
                        }
                    }
                }
            }
        }

        &:not(.menu-open) .mobile-dropdown {
            display: none;
        }
    }


    .slider-block {
        padding: 16px 0 40px;

        .inner {
            .item {
                position: relative;
                z-index: 1;
                height: 460px;

                grid-template-columns: minmax(0, 1fr);

                .info {
                    padding: 16px;
                    background: rgba(255, 255, 255, 0.85);
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: auto;

                    .name {
                        font-size: 24px;
                        margin-bottom: 12px;
                    }

                    .text {
                        font-size: 14px;
                    }

                    .more {
                        margin-top: 12px;
                    }
                }

                .img {
                    min-width: unset;
                    width: auto;
                    height: auto;

                    position: absolute;
                    z-index: -1;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        .owl-carousel {
            .owl-stage {
                display: flex;

                .owl-item {
                    display: flex;
                }
            }

            .owl-dots {
                bottom: -27px;
            }
        }
    }

    .services-block {
        padding: 30px 0;

        .inner {
            .owl-carousel {
                width: auto;
                margin: 0;

                .owl-nav {
                    .owl-prev {
                        left: 0;
                    }

                    .owl-next {
                        right: 0;
                    }
                }
            }
        }
    }


    body {
        #content {
            grid-template-columns: minmax(0, 1fr) !important;
        }

        #center {
            grid-column-start: 1;
            grid-row-start: 1;
        }

        #right {
            grid-column-start: 1;
            grid-row-start: 2;
        }

        &.has-left:not(.has-right) {
            #left {
                grid-column-start: 1;
                grid-row-start: 1;
            }

            #center {
                grid-column-start: 1;
                grid-row-start: 2;
            }
        }
    }


    .links-block {
        .items {
            display: block;
        }
    }

    .gallery-block {
        .items {
            grid-template-columns: minmax(0, 1fr);
            gap: 5px;
        }
    }

    .branches-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 16px;
    }

    @media (max-width: 500px) {
        .branches-list {
            grid-template-columns: minmax(0, 1fr);
            gap: 16px;
        }
    }

    .footer-block {
        .header {
            .inner {
                grid-template-columns: minmax(0, 1fr);

                .title {
                    font-weight: 600;
                    margin-bottom: 16px;
                }

                .contact {
                    grid-column-start: 1;
                    grid-row-start: 1;
                }

                .help {
                    grid-column-start: 1;
                    grid-row-start: 2;
                }
            }
        }
    }

    .contact-form {
        .item-actions {
            justify-content: center;
        }
    }

    .search-form {
        width: auto;
    }

    .gallery-block.columns-3 {
        .items {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    .employees-list {
        grid-template-columns: minmax(0, 1fr);
        gap: 40px;

        .item {
            .img {
                width: 150px;
                height: 150px;
            }
        }

        &.owl-carousel {
            display: block;
            width: auto;

            margin: 0;

            .owl-nav {
                .owl-prev {
                    left: 0;
                }

                .owl-next {
                    right: 0;
                }
            }
        }
    }


    .prices-list {
        table {
            tr {
                th.th-price {
                    width: auto;
                }
            }
        }
    }

    .slider-block-2 {
        .item {
            height: 340px;

            .info {
                padding: 16px 36px;

                .title {
                    font-size: 22px;
                }

                .text {
                    font-size: 14px;
                }
            }
        }

        .owl-carousel {
            .owl-next, .owl-prev {
                zoom: 0.5;
            }
        }
    }

    .branch-map-block {
        .map {
            height: 360px;
        }
    }


    .contacts-page {
        .map {
            height: 360px;
        }

        .info-and-contact {
            grid-template-columns: minmax(0, 1fr);

            .title {
                margin-bottom: 16px;
            }
        }
    }

    .schedule-list {
        .owl-carousel {
            .owl-nav {
                button.owl-prev {
                    left: -14px;
                }

                button.owl-next {
                    right: -14px;
                }
            }
        }
    }

    .filters-form {
        .fields {
            display: block;

            .schedule {
                margin-bottom: 20px;
            }

            .date {
                display: block;

                label {
                    margin: 0 0 5px;
                }

                .input {
                    width: 100%;

                    input[name="date"] {
                        min-width: unset;
                    }
                }
            }
        }

        .actions {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 8px;

            a, button {
                margin: 0;
                padding: 0 30px;
                width: auto;
            }
        }
    }

    .selectbox {
        width: auto;
    }

    .schedule-block {
        margin-bottom: 16px;
    }

    .breadcrumb {
        margin: 20px 0;
    }

    .services-block-2 {
        .items {
            .item {
                .info {
                    .name {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        .services-block-2 {
            .items {
                .item {
                    display: block;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .img {
                        height: 220px;
                    }

                    .info {
                        padding: 20px;

                        .name {
                            a {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }


    .sidebar-menu-block {
        .block-title {
            font-size: 16px;
            margin: 0;
            background: var(--color-main-light);
            color: #ffffff;
            padding: 10px 16px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &:after {
                content: '';
                min-width: 14px;
                margin-left: 10px;
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 7a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1z' fill='%23ffffff'/%3E%3C/svg%3E");
            }
        }

        &:not(.open) ul {
            display: none;
        }
    }


    .advantages-block {
        padding: 30px 0;

        .items {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    @media (max-width: 500px) {
        .advantages-block {
            .items {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }
}