html {
    font-size: calc(100vh / 1920);

    body {
        background: #fff;
        color: #443d39;
        font-family: 'RF Dewi', Arial, sans-serif;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        min-width: 320px;
    }
}


#page {
    height: 100vh;
    width: calc(100vh / 1.7777);
    margin: 0 auto;

    padding: 80rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: -10;

        top: 0;
        left: 0;
        bottom: 0;

        width: 100%;

        background-image: url(../img/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        transition: all 900ms ease;
    }

    &:after {
        left: 100%;
        background-image: url(../img/bg2.jpg);
    }

    &[data-background-position="right"]:before {
        left: -100%;
    }

    &[data-background-position="right"]:after {
        left: 0;
    }

    #header {
        height: 25%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .title {
            line-height: 1.22;
            font-size: 84rem;
            font-weight: bold;
            font-family: 'RF Dewi Expanded', Arial, sans-serif;
        }

        position: relative;
        z-index: 10;

        [data-page] {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    #animation {
        width: calc(100vh / 1920 * 1080);
        height: calc(100vh / 1920 * 1080);

        margin-left: -80rem;
        margin-right: -80rem;

        overflow: hidden;

        position: absolute;
        z-index: 5;
        top: 21%;

        .player {
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            transform: scale(1.8);
        }
    }

    [data-text-animate] {
        position: relative;
        top: 80px;
        opacity: 0;

        &.visible {
            top: 0;
            opacity: 1;
        }

        &.hidden {
            top: -80px;
            opacity: 0;
        }

        &.animation-enabled {
            transition: all 900ms ease;
        }
    }
}


#menu {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 20px;

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-size: 18px;
            color: blue;
        }
    }
}