@media screen and (max-width: 1400px) {
    .only-desktop {
        display: none;
    }

    .only-tablet {
        display: block;
    }

    .only-mobile {
        display: none;
    }

    .container {
        width: auto;
        margin: 0 30px;
    }

    .container .container {
        margin: 0;
    }

    .block {
        margin: 30px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .header-block {
        .center {
            .contacts {
                margin-left: 60px;
            }

            .social {
                margin-right: 20px;

                a {
                    width: 30px;
                    height: 30px;

                    .i {
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            @media (max-width:500px) {
                .social {
                    display: none;
                }
            }
        }
    }

    .header-block {
        .footer {
            .menu {
                ul {
                    li {
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .mobile-dropdown {
            .social {
                display: none;
            }

            @media (max-width:500px) {
                .social {
                    display: flex;
                    margin: 10px 0;
                }
            }
        }
    }

    .slider-block {
        .inner {
            .item {
                grid-template-columns: minmax(0, 1fr) minmax(0, 60%);
            }
        }
    }

    .services-block {
        .inner {
            .owl-carousel {
                width: auto;

                margin-left: 50px;
                margin-right: 50px;
            }

            .owl-nav {
                .owl-prev {
                    left: -50px;
                }

                .owl-next {
                    right: -50px;
                }
            }
        }
    }

    .gallery-block {
        .items {
            .item {
                height: 200px;
            }
        }
    }

    .branches-block {
        padding: 30px 0;
    }

    .branches-list {
        .item {
            .img {
                height: 180px;
            }

            .info {
                .name {
                    font-size: 15px;
                }
            }

            .prices {
                .price {
                    font-size: 18px;
                }
            }
        }
    }

    .footer-block {
        .header {
            padding: 30px 0;

            .inner {
                grid-template-columns: repeat(2, minmax(0, 220px)) minmax(0, 1fr);
                gap: 30px;

                .contact {
                    margin-left: 0;
                }
            }
        }
    }


    .employees-list {
        .item {
            .img {
                width: 130px;
                height: 130px;
            }
        }

        &.owl-carousel {
            width: auto;

            margin-left: 50px;
            margin-right: 50px;

            .owl-nav {
                .owl-prev {
                    left: -55px;
                }

                .owl-next {
                    right: -55px;
                }
            }
        }
    }

    .slider-block-2 {
        .item {
            height: 400px;
        }
    }


    .contacts-page {
        .map {
            height: 380px;
        }
    }

    .contacts-page {
        margin-bottom: 30px;

        .info-and-contact {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .slider-block-2 {
        margin: 30px 0;
    }

    .schedule-list {
        .owl-carousel {
            .owl-nav {
                button.owl-prev {
                    left: -30px;
                }

                button.owl-next {
                    right: -30px;
                }
            }
        }
    }

    .filters-form {
        .actions {
            margin-top: 20px;
            justify-content: flex-start;
        }
    }
}